.container {
    margin-top: 2.5%;   
    max-width: 75%!important;
}

.title {
    font-weight: bold;
    text-align: center;
    font-size: 3.25rem;
    margin-bottom: 2%;
}

label {
    font-weight: 700;
}

.btn-primary {
    margin-top: 20px;
    margin-bottom: 5%;
    padding: 15px 100px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-left: 50%;
    transform: translateX(-50%);
}

.btn-info {
    margin-top: 32px;
    width: 44px;
}
.btn-danger {
    margin-left: 5px;
    margin-top: 32px;
    width: 44px;
}

.invalid-feedback {
    display: block;
}