.intro {
    margin-top: 15%;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.intro .title {
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.intro .subtitle {
    width: 100%;
    text-align: center;
}

.buttons {
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

.buttons a {
    margin-left: 50%;
    transform: translateX(-50%);

    letter-spacing: 1.25px;
    text-transform: uppercase;
    text-decoration: none;

    display: block;
    padding: 16px 0;

    cursor: pointer; 
  }